<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="superkoder@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TripSorter</title>
</head>
<body>
<div id="app"></div>
<a class="b__github mdi mdi-github-circle" href="https://github.com/shura-v/trip-sorter" target="_blank"></a>
</body>
</html>
